#containerhome {
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
    height: 100vh;
    gap:20vh;
}

#containerhome input {
    /* width: 300px; */
    background: linear-gradient(#000, #fff) center bottom 5px /calc(100% - 10px) 2px no-repeat;
    /* background-color: #fcfcfc; */
    /* border: 1px solid; */
    padding: 10px;
    direction: center;
    text-align: center;

  }

#containerhome ::placeholder {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}